Repository haliphax/drop-game: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: Lint files with ESLint
  args:
  - eslint
  - --fix
  entry: npx
  language: system

prettier:
  name: Lint files with Prettier
  args:
  - prettier
  - -l
  - -u
  - -w
  entry: npx
  language: system

✨ land/win sound effects
  src/game.ts
  src/public/default/land.mp3
  src/public/default/win.mp3
Due: eslint, prettier

🔖 release 2.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  7021104103640adb74eb5cc9b244b543419dd1e8
Due: prettier

🩹 trim sprites and landing pad collision box
  src/game.ts
  src/public/default/chute.png
  src/public/default/drop1.png
  src/public/default/drop2.png
  src/public/default/drop3.png
  src/public/default/drop4.png
  src/public/default/drop5.png
  src/public/default/pad.png
Due: eslint, prettier

🐛 fix exaggerated bounce from horizontal overlap with pad
  src/game.ts
Due: eslint

Notes added by 'git notes add'
  f6bd76afda1200c004d7acb3e5400a5c57cef7aa
Due: prettier

🔖 release 2.7.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

✨ droplets when landing on pad
  src/game.ts
  src/public/default/droplet.png
Due: eslint, prettier

🔖 release 2.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  78547aa166ff139d50730ea2a4b66d90e9048ead
Due: prettier

✨ use viewport dimensions for scene size
  src/constants.ts
Due: eslint

Notes added by 'git notes add'
  b4ad0787271dcc99af009b4574be48c7dd085831
Due: prettier

🔖 release 2.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

💚 update publish workflow
  .github/workflows/publish-site.yml
Due: prettier

🐛 check username for !droplow
  src/game.ts
Due: eslint

🐛 fix droprecent
  src/game.ts
Due: eslint

🚨 eslint/prettier
  src/game.ts
Due: eslint

Path conditions:
  eslint: any of: \.(js|ts|vue)$
  prettier: any file but: \.(js|ts|vue)$
