Repository haliphax/drop-game: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      # blocks files larger than 500 KB
      - id: check-added-large-files

      # blocks files with leftover merge conflict markers
      - id: check-merge-conflict

      - id: no-commit-to-branch
        name: Block commits to main branch

  - repo: local
    hooks:
      - id: eslint
        name: Lint files with ESLint
        args: [eslint, --fix]
        entry: npx
        files: \.(js|ts|vue)$
        language: system

      - id: prettier
        name: Lint files with Prettier
        args: [prettier, -l, -u, -w]
        entry: npx
        exclude: \.(js|ts|vue)$
        language: system
        types: [text]

🐛 point directly to index.html with oauth form
  src/oauth.html
Due: prettier

🔖 release 2.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  4830ed09ccec5b38d3effdfe0e3c5f712a52115e
Due: prettier

🔥 remove .gitmoji-changelogrc
  .gitmoji-changelogrc
Due: prettier

🐛 fix oauth flow
  src/oauth.html
  src/oauth.ts
Due: eslint, prettier

💚 fix relative URLs on oauth page
  .github/workflows/publish-site.yml
Due: prettier

✨ add config options to overlay builder
  src/oauth.html
  src/oauth.ts
Due: eslint, prettier

🍱 square favicon
  src/favicon.gif
Due: prettier

✏️ fix package.json project name
  package-lock.json
  package.json
Due: prettier

🔖 release 2.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  c8f1dde0c11828e3395f612c4449c8f5b1b7aa8d
Due: prettier

📝 update configuration docs
  README.md
Due: prettier

✨ emote parameter for !drop command
  README.md
  src/avatar.ts
  src/game.ts
  src/index.ts
Due: eslint, prettier

🐛 fix collision box for scaled emotes
  src/avatar.ts
Due: eslint

🔖 release 2.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  973a4c65017eeca8bf4130f576c80c7a8a64ec69
Due: prettier

✨ reduce horizontal speed when bumping into wall
  src/avatar.ts
  src/game.ts
Due: eslint

🔖 release 2.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  c51028b4db17357d7e88a63a63d494b090da018e
Due: prettier

✨ scale to fit screen
  src/index.ts
  src/styles.css
Due: eslint, prettier

🐛 fix avatar bounce
  src/avatar.ts
Due: eslint

🔖 release 2.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  9e46c408db0b753051cc5b26f517aacab80d19f0
Due: prettier

🩹 restore stuckfix adjustment
  src/game.ts
Due: eslint

🐛 fix missing username in twitch irc login
  src/twitch.ts
Due: eslint

🔖 release 2.4.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  32787dd2c6b0db015020792cabce23d78e2c24f3
Due: prettier

💚 only allow one publish workflow at a time
  .github/workflows/publish-site.yml
Due: prettier

🩹 widen scoring scale to include half of sprite width
  src/game.ts
Due: eslint

✨ "bounce" off world boundary walls
  src/game.ts
Due: eslint

💫 pause sway tween during upward movement
  src/avatar.ts
Due: eslint

💄 inline styles
  src/index.html
Due: prettier

💄 line parachute up with twitch emotes
  src/avatar.ts
Due: eslint

💚 fix release workflow url
  .github/workflows/release.yml
Due: prettier

🔖 release 2.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  2fb2f8c5d9b4475db4c3c86aa8348d432539bf12
Due: prettier

✨ drop sound effect
  src/constants.ts
  src/game.ts
  src/index.ts
  src/public/default/drop.mp3
  src/util.ts
Due: eslint, prettier

🔖 release 2.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier

Notes added by 'git notes add'
  355f93e9eba24b6686564251dd894bc9b8c30788
Due: prettier
